# TC CDC - Fatal Injury and Violence Dashboard

### Verification

- Open link `http://localhost:8050` in browser
- Compare increases / decreases calculations on the Map View and Table View, see sample images in folder `Doc/`  
- Select different metrics HLM, CUSUM